<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Persistence</name>
    </assembly>
    <members>
        <member name="T:Persistence.DataContext">
            <summary>
            Class DataContext.
            Implements DbContext
            </summary>
        </member>
        <member name="M:Persistence.DataContext.#ctor(Microsoft.EntityFrameworkCore.DbContextOptions{Persistence.DataContext})">
            <summary>
            Constructor
            </summary>
            <param name="options">options</param>
        </member>
        <member name="P:Persistence.DataContext.Books">
            <summary>
            Books
            </summary>
        </member>
        <member name="P:Persistence.DataContext.Submissions">
            <summary>
            Submissions
            </summary>
        </member>
        <member name="T:Persistence.Migrations.CreateDatabase">
            <summary>
            Class CreateDatabase.
            Implements database creation
            </summary>
        </member>
        <member name="M:Persistence.Migrations.CreateDatabase.Up(Microsoft.EntityFrameworkCore.Migrations.MigrationBuilder)">
            <summary>
            Method performs the migration
            </summary>
            <param name="migrationBuilder">migrationBuilder</param>
        </member>
        <member name="M:Persistence.Migrations.CreateDatabase.Down(Microsoft.EntityFrameworkCore.Migrations.MigrationBuilder)">
            <summary>
            Method rollbacks the migration
            </summary>
            <param name="migrationBuilder">migrationBuilder</param>
        </member>
        <member name="M:Persistence.Migrations.CreateDatabase.BuildTargetModel(Microsoft.EntityFrameworkCore.ModelBuilder)">
            <summary>
            Method builds target model
            </summary>
            <param name="modelBuilder">modelBuilder</param>
        </member>
        <member name="T:Persistence.Migrations.AddBooksTable">
            <summary>
            Class AddBooksTable.
            Create Books table
            </summary>
        </member>
        <member name="M:Persistence.Migrations.AddBooksTable.Up(Microsoft.EntityFrameworkCore.Migrations.MigrationBuilder)">
            <summary>
            Method performs the migration
            </summary>
            <param name="migrationBuilder">migrationBuilder</param>
        </member>
        <member name="M:Persistence.Migrations.AddBooksTable.Down(Microsoft.EntityFrameworkCore.Migrations.MigrationBuilder)">
            <summary>
            Method rollbacks the migration
            </summary>
            <param name="migrationBuilder">migrationBuilder</param>
        </member>
        <member name="M:Persistence.Migrations.AddBooksTable.BuildTargetModel(Microsoft.EntityFrameworkCore.ModelBuilder)">
            <summary>
            Method builds target model
            </summary>
            <param name="modelBuilder">modelBuilder</param>
        </member>
        <member name="T:Persistence.Migrations.AddVideoPropToBook">
            <summary>
            Class AddVideoPropToBook.
            Adds Video Prop to Book entity
            </summary>
        </member>
        <member name="M:Persistence.Migrations.AddVideoPropToBook.Up(Microsoft.EntityFrameworkCore.Migrations.MigrationBuilder)">
            <summary>
            Method performs the migration
            </summary>
            <param name="migrationBuilder">migrationBuilder</param>
        </member>
        <member name="M:Persistence.Migrations.AddVideoPropToBook.Down(Microsoft.EntityFrameworkCore.Migrations.MigrationBuilder)">
            <summary>
            Method rollbacks the migration
            </summary>
            <param name="migrationBuilder">migrationBuilder</param>
        </member>
        <member name="M:Persistence.Migrations.AddVideoPropToBook.BuildTargetModel(Microsoft.EntityFrameworkCore.ModelBuilder)">
            <summary>
            Method builds target model
            </summary>
            <param name="modelBuilder">modelBuilder</param>
        </member>
        <member name="T:Persistence.Migrations.RemoveVideoPropFromBook">
            <summary>
            Class RemoveVideoPropFromBook
            </summary>
        </member>
        <member name="M:Persistence.Migrations.RemoveVideoPropFromBook.Up(Microsoft.EntityFrameworkCore.Migrations.MigrationBuilder)">
            <summary>
            Method performs the migration
            </summary>
            <param name="migrationBuilder">migrationBuilder</param>
        </member>
        <member name="M:Persistence.Migrations.RemoveVideoPropFromBook.Down(Microsoft.EntityFrameworkCore.Migrations.MigrationBuilder)">
            <summary>
            Method rollbacks the migration
            </summary>
            <param name="migrationBuilder">migrationBuilder</param>
        </member>
        <member name="M:Persistence.Migrations.RemoveVideoPropFromBook.BuildTargetModel(Microsoft.EntityFrameworkCore.ModelBuilder)">
            <summary>
            Method builds target model
            </summary>
            <param name="modelBuilder">modelBuilder</param>
        </member>
        <member name="T:Persistence.Migrations.AddSubmissionsTable">
            <summary>
            Class AddSubmissionsTable
            </summary>
        </member>
        <member name="M:Persistence.Migrations.AddSubmissionsTable.Up(Microsoft.EntityFrameworkCore.Migrations.MigrationBuilder)">
            <summary>
            Method performs the migration
            </summary>
            <param name="migrationBuilder">migrationBuilder</param>
        </member>
        <member name="M:Persistence.Migrations.AddSubmissionsTable.Down(Microsoft.EntityFrameworkCore.Migrations.MigrationBuilder)">
            <summary>
            Method rollbacks the migration
            </summary>
            <param name="migrationBuilder">migrationBuilder</param>
        </member>
        <member name="M:Persistence.Migrations.AddSubmissionsTable.BuildTargetModel(Microsoft.EntityFrameworkCore.ModelBuilder)">
            <summary>
            Method builds target model
            </summary>
            <param name="modelBuilder">modelBuilder</param>
        </member>
        <member name="T:Persistence.Seeders.BooksSeeder">
            <summary>
            Class BookSeeder.
            Seeds Books table
            </summary>
        </member>
        <member name="M:Persistence.Seeders.BooksSeeder.SeedData(Persistence.DataContext)">
            <summary>
            Method performs the operation
            </summary>
            <param name="context">context</param>
        </member>
    </members>
</doc>
